article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: white;
  text-align: center; }

p, label, button {
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem; }

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  color: #1a8a1a;
  margin-bottom: 20px; }

h3 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%); }

header {
  height: 40vh;
  background: linear-gradient(rgba(97, 248, 241, 0.6), white), url(../images/leaves.png);
  padding: 50px 0; }
  header h1 {
    padding: 30px;
    font-family: 'Marmelad', sans-serif;
    font-size: 6rem;
    color: #1a8a1a;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    width: 65%;
    margin: 0px auto; }
  header button {
    margin-top: 30px; }
  header .instructions {
    margin: 0;
    font-size: 1.4rem; }

img {
  width: 100%; }

button {
  border: 1px solid #206b20;
  border-radius: none;
  padding: 10px;
  margin: 5px; }
  button:hover {
    background: #1a8a1a;
    color: white; }

.plantList ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  padding: 0; }

html, body, .app {
  margin: 0;
  padding: 0;
  position: relative; }

.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup p {
    padding: 50px;
    line-height: 1.8;
    font-size: 1.5rem; }

.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  background: white; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

@media (max-width: 840px) {
  header {
    height: 20vh; }
    header h1 {
      font-size: 5.4rem; }
    header button {
      font-size: 1.2rem;
      margin-top: 10px;
      padding: 5px; }
  .popup_inner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%; } }

@media (max-width: 765px) {
  header h1 {
    font-size: 4.8rem;
    width: 75%; }
  .popup p {
    font-size: 1.4rem; } }

@media (max-width: 730px) {
  .plantList {
    margin-top: 130px; }
  p, label, button {
    font-size: 1.4rem; }
  .popup_inner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%; }
  .popup button {
    position: absolute;
    bottom: -10px; } }

@media (max-width: 600px) {
  header {
    height: 15vh; }
    header h1 {
      font-size: 5rem;
      width: 85%; }
    header button {
      font-size: 1.2rem;
      margin-top: 5px;
      padding: 5px; }
  .plantList {
    margin-top: 140px; }
  p, label, button {
    font-size: 1.2rem; }
  .popup p {
    font-size: 1.3rem; } }

@media (max-width: 470px) {
  .popup p {
    font-size: 1.2rem; } }

.welcome {
  height: 25vh;
  margin-top: 60px; }
  .welcome form {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px; }
  .welcome .plantName, .welcome .userName {
    width: 40%; }
  .welcome .submit {
    width: 150px;
    margin-top: 25px;
    font-size: 1.4rem; }
  .welcome .inputs {
    display: flex;
    justify-content: space-between; }
  .welcome input, .welcome button {
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1a8a1a;
    margin: 5px;
    width: 85%; }
  .welcome label {
    font-size: 1.6rem;
    margin: 0 15px; }
  @media (max-width: 890px) {
    .welcome form {
      width: 95%; } }
  @media (max-width: 840px) {
    .welcome {
      margin-top: 160px; } }
  @media (max-width: 795px) {
    .welcome form {
      width: 100%; }
    .welcome .submit {
      width: 150px; }
    .welcome input {
      width: 70%; }
    .welcome .plantName, .welcome .userName {
      width: 50%; } }
  @media (max-width: 728px) {
    .welcome {
      margin-top: 140px; }
      .welcome .inputs {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center; }
      .welcome .plantName, .welcome .userName {
        width: 50%;
        margin: 10px auto; }
      .welcome .submit {
        margin: 0 auto;
        width: 20%; } }
  @media (max-width: 600px) {
    .welcome {
      margin-top: 200px; }
      .welcome .inputs {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center; }
      .welcome .plantName, .welcome .userName {
        width: 70%;
        margin: 10px auto; }
      .welcome .submit {
        margin: 0 auto;
        width: 40%; } }

.plantPage {
  background: url(../images/window4.png), linear-gradient(white, #61f8f1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative; }
  .plantPage section {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }

.imageContainer {
  width: 28%;
  margin: 0 auto; }

.waterMe {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 60px; }

.message {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  width: 50%; }

.waterMe button {
  border-color: blue;
  font-size: 1.6rem; }
  .waterMe button:hover {
    background: #00c3ff;
    border-color: #00c3ff; }

.points {
  font-size: 2.2rem;
  padding: 0px;
  width: 50%;
  margin: 0 auto; }

@media (max-width: 1040px) {
  .imageContainer {
    width: 35%; } }

@media (max-width: 900px) {
  .imageContainer {
    width: 40%; } }

@media (max-width: 840px) {
  .imageContainer {
    width: 45%; } }

@media (max-width: 700px) {
  .imageContainer {
    width: 50%; } }

@media (max-width: 600px) {
  .imageContainer {
    width: 55%; } }

@media (max-width: 470px) {
  .imageContainer {
    width: 65%; } }
